<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--  bootstrap 4 CSS CDN-->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <title>Document</title>
</head>

<body>

  {{{ body}}}

  <script src="/js/jquery-3.2.1.min.js"></script>
  <!-- bootstrap 4 JS CDN  -->
  <script src="/js/popper.min.js" type="text/javascript"></script>
  <script src="/js/bootstrap.min.js" type="text/javascript">

  </script>
</body>

</html>